body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game {
    justify-content: center;
}

.card {
    margin: 1vw;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(206, 223, 253) !important;
}

.card input {
    width: 70%;
}